body {
  background: url(bw_standing.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: small;
  text-align: left;
}
a:link {
/*  color: rgba(50,79,0,1);*/
  text-decoration: none;
}
a {
  font-size: small;
}
a:visited {
  text-decoration: none;
  /*color: rgba(50,79,0,1);*/
}
a:hover {
  text-decoration: underline;
  /*color: rgba(137,213,0,1);*/
}
a:active {
  text-decoration: none;
  /*color: rgba(137,213,0,1);*/
  font-size: xx-small;
  text-align: right;
  font-style: normal;
  font-weight: lighter;
}

#page_wrapper {
  background-color: rgba(250,250,250,.8);
  width: 85%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

#header {

}

#logo_holder {

  font-family: 'Lobster', cursive;
  font-size: 350%;
  text-align: center;
  font-style: normal;
  font-weight: bold;
}

#mission {
  background-color: rgba(250,250,250,.8);
}